pkgbase = thunderbird-tbsync
	pkgdesc = Sync contacts, tasks and calendars to thunderbird using Exchange ActiveSync (EAS) and CalDAV/CardDAV
	pkgver = 3.0.1
	pkgrel = 2
	url = https://github.com/jobisoft/TbSync
	arch = any
	groups = office
	license = MPL-2.0
	depends = thunderbird>=91
	depends = thunderbird<92
	optdepends = thunderbird-dav-4-tbsync: Sync CalDAV/CardDAV calendars
	optdepends = thunderbird-eas-4-tbsync: Connect to Exchange ActiveSync
	provides = tbsync=3.0.1
	noextract = tbsync-3.0.1-tb.xpi
	source = https://addons.thunderbird.net/thunderbird/downloads/file/1019345/tbsync-3.0.1-tb.xpi
	sha256sums = 8fde425a3d7d784252e36d92fde2fdab29e19461e88ca51d626bd2d46a4edcc8

pkgname = thunderbird-tbsync
